In [4]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split

In [11]:
salary = (pd.read_csv("F:\Courses\Machine Learning\Dataset\Salary_Data.csv"))

salary.head()

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\betsi\AppData\Local\Temp\ipykernel_20116\1472055985.py:1: SyntaxWarning: invalid escape sequence '\C'
  salary = (pd.read_csv("F:\Courses\Machine Learning\Dataset\Salary_Data.csv"))

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
model = LinearRegression()
model.fit(X,y)

In [ ]:
y_pred = model.predict(X)
plt.scatter(X,y, c='r')
plt.plot(X, y_pred, c='g')

In [ ]:
mean_squared_error(y, y_pred)